*{
    margin: 0px;
}

body{
    background-image: url(logo.png); 
    max-width:2000px;
    height:100%; 
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom:60px;

}

/*Format menu*/

div#menustyle
{
   position: absolute;
   background:url(menustyle.png) no-repeat; 
}
/*Marge avant texte*/
ul{
    padding: 0px;
    margin-top: 75px; 
    text-align: center;
}
/* Fixage du footer en bas*/
html {
    position: relative;
    min-height: 100%;
}
 
#footer {

    /*height: 20%;*/
    bottom: 0;
    width: 100%;
    height:60px;
    clear: both;
}

/* code couleur des alertes*/
 body .btn-primary {
    background-color: #0085CA;
    border-color: #0085CA;
    color: #FFF; }
    body .btn-primary:hover, body .btn-primary:focus {
      border-color: #0085CA;
      background-color: #0085CA;
      color: #FFF; }
    body .btn-primary:active, body .btn-primary:visited, body .btn-primary:active:focus, body .btn-primary:active:hover {
      border-color: #0085CA;
      background-color: #0085CA;
      color: #FFF; }



.bas
{
    margin-bottom: 0px;
    
    
}

/* logo */

#image
{
    max-width: 100%;
    height: auto;
}
.paragraphe
{
    margin-top: 10%;
}
/* Carousselle */





/* Mise en forme général des polices et champs*/

.title{
    position: relative;
    text-align:center;
    font: Arial;
    color: #0085CA;
    margin-top: 2%;

}   
.title::before{
    content:"";
    position:absolute;
    top:45%;
    left:0;
    width:100%;
    background:#0085CA;
    height:3px;
    z-index:-1;
}

h1 {
   font-size: 3vw;
   text-align: center;
   margin-right: 20%;
   margin-left:20%;
   



}

h4 {
    font-size:2vw;
    color: #0085CA ;
}


.image{
float:right;
margin-top: 3%;
}

.trait2{
    border-top: 0px solid #0085CA;
    width: 100%;
}



.police{
    color:#0085CA;
    font-size: 1.6vw;
    font-weight: bold;
    
}

.police2{
    color:black;
    font-size: 1.2vw;
    font-weight: bold;

}
.police3{
    color:black;
    font-size: 1vw;
    
}



.police4{
    color:black;
    font-style:italic;
    font-size: 1vw;
    
}

.police5{
    color:#CE0037;
    font-size: 0.8vw;
    font-weight: bold;
    
}





input[type="text"]:hover{
    box-shadow: 1px 1px 1px 1px #444444;
}

input[type="password"]:hover{
    box-shadow: 1px 1px 1px 1px #444444;
}
input[type="email"]:hover{
    box-shadow: 1px 1px 1px 1px #444444;    
}

select:hover{
    box-shadow: 1px 1px 1px 1px #444444;
}


/*Bouton Envoyer et retour */
input[type="submit"]{
    padding: 5px;
    font-size: 14px;
    font-family: 'Arial';
    color: #FFFFFF;
    background-color: #0085CA;
    border: none;
    margin-top: 5px;
    margin: 2px;
    cursor: pointer;
}

input[type="reset"]{
    padding: 5px;
    font-size: 14px;
    font-family: 'Arial';
    color: #FFFFFF;
    background-color: #0085CA;
    border: none;
    margin-top: 5px;
    margin: 2px;
    cursor: pointer;
}
.lien
{
    color: #CE0037 !important;
}


/*Caractéritique général (taille du formulaire etc...)*/
.form-style-10{
    width:50%;
    padding:20px;
    margin:80px auto;
    background: #FFF;
    border-radius: 100px;
    -webkit-border-radius:100px;
    -moz-border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
    padding: 40px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}
.form-style-10 h1{
    background: #2A88AD;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Arial', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}
.form-style-10 h1 > span{
    display: block;
    margin-top: 2px;
    font: 13px Arial, Arial, sans-serif;
}
.form-style-10 label{
    display: block;
    font: 13px Arial, Arial, sans-serif;
    color: #888;
    margin-bottom: 15px;
}
/* Caractéristiques des champs*/
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}
/*style de la police*/
.form-style-10 .section{
    font: normal 20px 'Arial', serif;
    color: #2A88AD;
    margin-bottom: 5px;
}
/*Numéros des titres*/
.form-style-10 .section span {
    background: #2A88AD;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
    background: #0085CA;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Arial', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
    float: right;
    width: 250px;
    font: 12px Arial, Arial, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
}
</style>